.container{
    background-color: gray;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
   align-items: center;
    gap: 5em;
   }


    .one{
        background-color: palegreen;
    }

    .one a{
        text-decoration: none;
    }
    
    .two{
        background-color: rgb(41, 51, 29);
    }

      .two a{
        text-decoration: none;
    }
        
    .three{
        background-color: rgb(77, 80, 77);
    }
    .three a{
        text-decoration: none;
    }
    
    .four{
        background-color: rgb(35, 48, 221);
    }

    .four a{
        text-decoration: none;
    }